h2 {
    margin: 0;
}

body {
    background-color: palevioletred;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-blue {
    background-color: rgb(45, 147, 243);
    color: white;
}

/* HEADER */
header {
    padding-bottom: 20px;
    background-color: white;
    padding-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
}

.dropdown-item a {
    padding: 12px 16px;
    display: block;
  }

.dropdown:hover .dropdown-menu {
    display: block;
  }

/* MAIN */
main {
    background-color: palevioletred;
    height: 100%;
}

.griglia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 1px solid pink;
}

.griglia.easy .quadrato {
    height: calc(100% / 5);
    width: calc(100% / 5);
}

.griglia.normal .quadrato {
    height: calc(100% / 8);
    width: calc(100% / 8);
}

.griglia.hard .quadrato {
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.quadrato {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid pink;
}

/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    background-color: white;
    bottom: 0;
    width: 100%;
}